@page  { 
    size: auto;
    margin: 10mm 10mm 10mm 10mm;  
} 
body {
    font-size: 100%;
    margin: 0px;  
} 
img {
    width: 100%;
}
table {
    margin-bottom: 2em;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
}

table th {
    padding: .2em 1em;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

table td {
    padding: .2em 1em;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    vertical-align: top;
}
figcaption {
    display: none;
}
h1 {
    text-decoration: underline;
}
h2 {
    text-decoration-line: underline;
    text-decoration-style: double;
}
pre, code {
    font-family: monospace, monospace;
    font-size: 85%;
    padding: .2em .4em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.063);
    border-radius: 4px;
}
pre > code {
    padding: initial;
    margin: initial;
    font-size: initial;
    background-color: initial;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
    border-bottom-left-radius: initial;
}
span.hidepdf {
    display: none;
}
a[href^="https://servicio.mapa.gob.es/git/"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}
